* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
      }

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.login-box{
    background: #fff;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.login-box h2{
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

.form-group{
    margin-bottom: 1.5rem;
}
.form-group label{
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #555;
}

.form-group input{
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.form-group input:focus{
     border-color: #4facfe;
    outline: none;
}

.btn-login{
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    background: #4facfe;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.btn-login:hover{
    background: hsl(36, 100%, 50%);
}

.extra{
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #777;
}

.extra a{
    color: #4facfe;
    text-decoration: none;
}

.extra a:hover{
    text-decoration: underline;
}

@media (max-width: 768px) {
    .login-box{
        padding: 1.5rem;
        margin: 1rem;
    }
}